
//  add in app routes
import { {{controllerName}}Ctr } from "./controller/{{controllerName}}.Ctr.ts";
routes.{{contollerMethod}}("{{controllerUrlPrefix}}", async (ctx: Context) => await {{controllerName}}Ctr(ctx));
